:root {
  --primary-color: #1ab4d2;
  --r: 26;
  --g: 180;
  --b: 210;
  --border-color: #ececec;
  --body-text-color: #161c2d;
  --body-link-color: #1ab4d2;
  --body-link-hover-color: #161c2d;
  --heading-text-color: #161C2D;
  --section-title-color: #161C2D;
  --section-desc-color: #161C2D;
  --team-overlay-effect: scale(1);
  --team-overlay-color: rgba(0, 0, 0, .4);
}

.header{
  background-color: var(--primary-color);
  color: #FFF;
}